// Opening section
header.row.project-header.haygarth-header
	.small-12.columns.height-fix
		.project-header-copy
			h1.project-title Haygarth
			br
			.client
				| Agency: 
				a(href='http://www.haygarth.co.uk') Haygarth (Internal project)
			br
			.project-link
				a(href='http://www.haygarth.co.uk') haygarth.co.uk
				
section
	.row
		.small-12.columns
			.project-intro
				h2.section-title The back story
				p
					| The Haygarth project was a full stack redesign of Haygarth’s company portfolio and blog.
				p
					| The brief was to build a fully responsive site which showcased Haygarth’s creative work and strip out the old Drupal based CMS replaced with a bespoke Laravel CMS based around simplicity and ease of use.
					
section
	ul.small-block-grid-1.media
		li
			figure.caption-wrap
				img(ng-src='assets/images/projects/haygarth/haygarth-landing-page.jpg')
				// <figcaption>Landing page</caption>
	ul.small-block-grid-1.medium-block-grid-2.media
		li
			figure.caption-wrap
				img(ng-src='assets/images/projects/haygarth/haygarth-sprite-page.jpg')
				// <figcaption>Sprite</caption>
		li
			figure.caption-wrap
				img(ng-src='assets/images/projects/haygarth/haygarth-vodafone-page.jpg')
				// <figcaption>Vodafone</caption>
				
.footer-hack
