@import 'base';

body {
  // margin: 0;
}
// Allow opening section to be full height
body, html, .main-content-view {
  height: 100%;
}

%ornamentation {
  position: relative;
  margin-left: auto;
  margin-right: auto;

  @media #{$medium-up} {
    margin-bottom: $base-line-height-large * 2;
  }

  &:after {
    display: block;
    width: rem(200);
    height: 0;
    padding-bottom: rem(6);
    background-color: $orange;
    margin: 0 auto;
    margin-top: $h2-line / 2;
    content: "";

    @media #{$medium-up} {
      margin-top: $h2-line-large / 2;
    }
  }
}

.section-title {
  @extend %ornamentation;
  text-align: center;
}



*, *:before, *:after {
    box-sizing: border-box;
}

%vertically-centre {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.media {
  max-width: rem(1400);
  margin: 0 auto;
  padding: 0 10px;
}

figure {
  margin: 0;
}

.footer-hack {
  height: $base-line-height * 2;
  
  @media #{$medium-up} {
    height: $base-line-height-large * 2;
  }
}
