// Opening section
header.row.project-header.ambr-header
	.small-12.columns.height-fix
		.project-header-copy
			h1.project-title Ambr.
			br
			.client Client: Ambr Media
			
section.row
	.small-12.columns
		.project-intro
			h2.section-title The back story
			p
				| Ambr media was a short lived media company I helped found, specialising in websites, PR and graphic design work.
			p
				| Ambr was seeded with money from The Prince's Trust and clients included charities, NGO's, and finance companies.
				
section.row
	.small-12.columns
		.text-wrap
			h2.section-title Logo designs
			p
				| Following a successful initial launch, Ambr embarked on a full redesign of it's logo and branding. This initial work experimented with handpainted watercolour swatches overlayed with super-sized typography.
				
section.row.media
	.small-12.medium-6.medium-centered.columns
		img(ng-src='assets/images/projects/ambr/ambr-orange-desktop@2x.png')
	.small-12.medium-6.columns
		img(ng-src='assets/images/projects/ambr/ambr-blue-desktop@2x.png')
	.small-12.medium-6.columns
		img(ng-src='assets/images/projects/ambr/ambr-pink-desktop@2x.png')
	.columns.small-12
		p.caption Logo mock ups for Ambr Media
