// Opening section
section.opener
	.opener-content
		img.saladin-logo(ng-src='assets/images/saladin-logo-dark-with-diamond.svg', alt='Portfolio logo')
		div
			h1.name Rob Easthope
		div
			h3.title Front end developer
		div
			// <a class="title">Portfolio / About / Contact</a>
			// <a class="title">About</a>
			// <a class="title">Contact</a>
			
// Portfolio section
section.portfolio
	h1.section-title Portfolio
	ul.small-block-grid-2.medium-block-grid-3.large-block-grid-4.media
		li.portfolio-card(style="background-image: url('./content/arup/arup-thumbnail.jpg')")
				a.portfolio-link(ui-sref='{{ portfolioContent.state }}')
					.portfolio-title-wrap
						h3.portfolio-title Arup
				.portfolio-overlay
		li.portfolio-card(style="background-image: url('./content/pladis/pladis-thumbnail.jpg')")
				a.portfolio-link(ui-sref='{{ portfolioContent.state }}')
					.portfolio-title-wrap
						h3.portfolio-title Pladis
				.portfolio-overlay
				
// Contact section
section.contact
	h1.section-title Say hello
	.contact-details
		a.email(href='mailto:hello@robeasthope.com') hello@robeasthope.com
		br
		a.github(href='https://github.com/robeasthope') Github
		|  /
		a.linkedin(href='https://uk.linkedin.com/pub/rob-easthope/36/bb4/9b0') LinkedIn
		|  /
		a.twitter(href='http://twitter.com/robeasthope.com') Twitter
		br
