// Opening section
header.row.project-header.trail-link-header
	.small-12.columns.height-fix
		.project-header-copy
			h1.project-title TrailLink
			br
			.client
				| Client: 
				a(href='http://www.traillink.com') TrailLink
				|  | Agency: 
				a(href='http://pixeledeggs.com') Pixeled Eggs
section
	.row
		.small-12.columns
			.project-intro
				h2.section-title The back story
				p
					| TrailLink is part of the 
					a(href='http://www.railstotrails.org/') US Rails-To-Trails Conservancy
					|  which is opening up unused American railway lines to create a network of trails across the United States.
section
	.row
		ul.small-block-grid-1.media
			li
				figure
					img(ng-src='assets/images/projects/trail-link/traillink-landing-page@2x.jpg')
					figcaption
section
	.row
		.small-12.columns
			.project-intro
				h2.section-title Modular design
				p
					| Pixeled Eggs was given a brief to design a brand new responsive website for TrailLink and build a modular static version of the website to be handed off to a backend development company.
				p
					| Designed from the start around atomic design principles each section of the site was built to be a independant module that could reused across the entire site.
				p
					| To assist this aim and ensure a speedy and smooth development, the site was built with 
					a(href='http://www.jade-lang.com') Jade
					|  (Now renamed to 
					a(href='https://github.com/pugjs') Pug.js
					| ) to allow rapid templating.
