// Opening section
header.row.project-header.giles-deacon-header
	.small-12.columns.height-fix
		.project-header-copy
			h1.project-title Giles Deacon
			br
			.client
				| Client: 
				a(href='http://www.giles-deacon.com') Giles Deacon
				|  | Agency: 
				a(href='http://3cc.london') FST
			br
			.project-link
				a(href='http://www.giles-deacon.com') giles-deacon.com
				
section
	.row
		.small-12.columns
			.project-intro
				h2.section-title The back story
				p
					| Giles Deacon is a British fashion designer, best known for his playful designs and his collaboration with High Street retailers.
				p
					| I was contracted by FST to help design and build the front-end elements of the Gile’s new portfolio and public relations site.
					
section
	.row
		ul.small-block-grid-1.media
			li
				figure
					img(ng-src='assets/images/projects/giles-deacon/giles-landing-page@2x.jpg')
					figcaption
			li
				figure
					img(ng-src='assets/images/projects/giles-deacon/giles-archive-page@2x.jpg')
					figcaption
			li
				figure
					img(ng-src='assets/images/projects/giles-deacon/giles-blog-page@2x.jpg')
					figcaption
					
section
	.row
		.small-12.columns
			.text-wrap
				h2.section-title Technical details
				p
					| The Giles site was built using the Foundation front-end framework and ‘Waterfall’ layouts functionality was handled by the 
					a(href='http://www.wookmark.com/jquery-plugin') Wookmark.js
					|  library.
				p
					| On the back end the site was built with the 
					a(href='http://laravel.com/') Laravel
					|  PHP framework.
					
.footer-hack
