// Opening section
header.row.project-header.pladis-header
	.small-12.columns.height-fix
		.project-header-copy
			h1.project-title Pladis
			br
			.client
				| Client: 
				a(href='http://www.pladisglobal.com') Pladis
				|  | Agency: 
				a(href='http://www.bisqit.co.uk') Bisqit
			br
			.project-link
				a(href='http://www.pladisglobal.com') pladisglobal.com
				
section
	.row
		.small-12.columns
			.project-intro
				h2.section-title The back story
				p
					| The Pladis site is a brand new responsive, multi-lingual website for the Turkish Pladis holding group, bringing together information on their Ulker, Mcvities, and Godiva holdings.
					
section
	.row
		ul.small-block-grid-1.media
			li
				figure
					img(ng-src='assets/images/projects/pladis/pladis-landing-page@2x.jpg')
					figcaption
					
section
	.row
		.small-12.columns
			.project-intro
				h2.section-title The CMS
				p
					| Pladis was designed from the start as an international, multi-lingual site, with a requirement to be easily updated by communications staff without the need for specalist developer knowledge.
				p
					| Using the fantastic 
					a(href='https://www.advancedcustomfields.com/pro/') Advanced Custom Fields
					|  and 
					a(href='https://wpml.org/') WPML
					|  plugins we were able to create a fast, dymamic content management process that allows all aspects of the sites content to be created, edited, and rearranged by normal users.
					
section
	.row
		.small-12.columns
			.project-intro
				h2.section-title Fullstack development
				p
					| WordPress sites can sometimes get a bad name due to poor development and server practices rather than a core problem with WordPress itself. When initially approached by Bisqit, Pladis were hesitant to use WordPress due to security and reputational concerns.
				p
					| This created a requirement for a solid and secure tech stack to address Pladis's security concerns while still maintaining an easy-to-use, well documented development and deployment process that allowed freelance developers to get up and running quickly.
				p
					| Both of these issues were solved by using the excellent open-source, Ansible based 
					a(href='https://roots.io/trellis/') Tellis
					| /
					a(href='https://roots.io/bedrock/') Bedrock
					| /
					a(href='https://roots.io/sage/') Sage
					|  stack from 
					a(href='http://roots.io') roots.io
					| . Built using sound development practices and extensive use of secure encryption to protect vital password keys, the entire site can set up on a new server with as little as three lines of terminal code.
					
section
	.row
		.small-12.columns
			.text-wrap
				h2.section-title Technical details
				ul
					li
						a(href='https://wordpress.org/') Wordpress CMS
					li
						| Modern tech Ansible/Vagrant based tech stack via Roots
					li
						| Custom CMS elements via 
						a(href='') Advanced Custom Fields
					li
						| Multilingual support via 
						a(href='https://wpml.org/') WPML
					li
						| Fully responsive design
					li
						| Package management via 
						a(href='https://getcomposer.org/') Composer
						|  and 
						a(href='http://bower.io') Bower
					li
						| Front end code compilation via 
						a(href='http://gulpjs.com') Gulp
						
.footer-hack
