// Opening section
header.row.project-header.louise-and-daniel-header
	.small-12.columns.height-fix
		.project-header-copy
			h1.project-title Louise + Daniel
			br
			.client Client: Louise & Daniel Holly
			br
			.project-link
				a(href='http://louiseanddaniel.s3-website-eu-west-1.amazonaws.com') Demo site
				
section
	.row
		.small-12.columns
			.project-intro
				h2.section-title The back story
				p
					| Louise + Daniel was a simple responsive microsite to give guests details about the wedding of Louise & Daniel Holly and allow them to RSVP without all the hassle of written invitations.
					
section
	.row
		ul.small-block-grid-1.media
			li
				figure(style='max-width: 900px; margin: 0 auto;')
					img(ng-src='assets/images/projects/louise-and-daniel/landing-page-large-sizes@2x.jpg')
					
section
	.row
		.small-12.columns
			.project-intro
				h2.section-title Technical notes
				p
					| Originally built off using the Jekyll based Octopress framework using Bootstrap 3.0 for frontend support.
				p
					| THe site has now been refactored into a simple static site using Jade templating, SCSS, Foundation for Sites, and Gulp
					
.footer-hack
