body {
  // margin: 0;
}
// Allow opening section to be full height
body, html, .main-content-view {
  height: 100%;
}

.section-title {
  text-align: center;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.project-header {
  text-align: center;
}

.project-intro {
  text-align: center;
}
