@import 'base';

body {
  // margin: 0;
}
// Allow opening section to be full height
body, html, .main-content-view {
  height: 100%;
}

.section-title {
  text-align: center;
  position: relative;
  margin-left: auto;
  margin-right: auto;

  &:after {
    display: block;
    width: rem(200);
    height: 0;
    padding-bottom: rem(159) / 4;
    margin: 0 auto;
    margin-top: $base-line-height;
    margin-bottom: $base-line-height * 4;
    background-image: url('../assets/images/ornamentation-dark.svg');
    background-repeat: no-repeat;
    content: ""
  }
}

*, *:before, *:after {
    box-sizing: border-box;
}

%vertically-centre {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.media {
  max-width: rem(1600);
  margin: 0 auto;
}
