// Opening section
header.row.project-header.haygarth-digital-room-header
	.small-12.columns.height-fix
		.project-header-copy
			h1.project-title Digital Room
			br
			.client
				| Agency: 
				a(href='http://www.haygarth.co.uk') Haygarth (Internal project)
				
section
	.row
		.small-12.columns
			.project-intro
				h2.section-title The back story
				p
					| The Haygarth Digital Room is Haygarth’s flagship project to showcase work and entice clients with new technology to market their products in retail environments.
				p
					| Once completed the Digital Room will showcase 3D printers, Oculus Rift VR headsets, Quividi retails analytics cameras, 4K presentation displays, and much more.
					
section
	.row
		.small-12.columns
			.text-wrap
				h2.section-title UIX
				p
					| As par of the part of the project planning phase, I worked the overall user journey detailing the technological integration, beacon messaging, and content flow
	.row
		ul.small-block-grid-1.media
			li
				figure.caption-wrap
					img(ng-src='assets/images/projects/haygarth-digital-room/digital-room-user-journey.jpg')
					
section
	.row
		.small-12.columns
			.text-wrap
				h2.section-title Research & prototyping
				p
					| As part of the project planning phase I conducted R&D work into NFC and beacon technology, Oculus Rift VR headsets, Cordova, and iOS/Android development.
