// Opening section
header.row.project-header.ysl-rock-chick-header
	.small-12.columns.height-fix
		.project-header-copy
			h1.project-title YSL Rock Chick
			br
			.client
				| Client: 
				a(href='http://www.ysl.com/gb') Yves Saint Laurent
				|  | Agency: 
				a(href='http://www.haygarth.co.uk') Haygarth
section
	.row
		.small-12.columns
			.project-intro
				h2.section-title The back story
				p
					| The YSL Rock Chick project was a part of national experiential campaign tour to promote the relaunch of YSL Black Opium.
				p
					| The concept was for users to film themselves dancing to Icona Pop’s ‘I Love It’ and then let other fans vote in a nationwide poll for the best video to win L'Oreal products and invites to fashion events.
			.media
				.flex-video.widescreen.vimeo
					iframe(src='https://player.vimeo.com/video/142999097', width='500', height='281', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
section
	.row
		.small-12.columns
			.text-wrap
				h2.section-title Technical details
				p
					| Fans were able to film themselves in video boothslocated in Selfridges and other retail locations or alternatively uploaded homemade videos from Vine, Instagram, and Facebook. The submissions were then uploaded to the site and then served via Vzaar.
	.row
		ul.small-block-grid-1.medium-block-grid-2.media
			li
				figure.caption-wrap
					img(ng-src='assets/images/projects/ysl-rock-chick/home-page-screenshot.jpg')
			li
				figure.caption-wrap
					img(ng-src='assets/images/projects/ysl-rock-chick/discover-page-screenshot.jpg')
