<div class="row">
  <article class="brixton">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-10 col-offset-1">
          <aside class="col-12 col-md-4 col-lg-4 project-details">
            <h4 class="project-title">The Brixton Advice Centre</h4>
            <p>The Brixton Advice Centre provides free and confidential advice on legal, housing, and benefits issues to residents of the London borough of Lambeth.</p>
            <p>Client: The Brixton Advice Centre</p>
            <p>Works: Logo design &amp; branding</p>
            <a href="http://www.brixtonadvice.org.uk.php53-6.ord1-1.websitetestlink.com/"><p>www.brixtonadvice.org.uk</p></a>
          </aside>
          
          <div class="col-12 col-md-8 col-lg-8 main-content">
            <div class="gallery">
            	<figure>
            		<img class="brixton-fp-desktop" src="assets/images/brixton/brixton-fp-desktop.jpg">
            		<figcaption>Front page masthead</figcaption>
            	</figure>
            		<figure>
            		<img class="brixton-map-desktop" src="assets/images/brixton/brixton-map-desktop.jpg">
            		<figcaption>Location section</figcaption>
            	</figure>
            	<figure>
            		<img class="brixton-info-desktop" src="assets/images/brixton/brixton-info-desktop.jpg">
            		<figcaption>Advice page</figcaption>
            	</figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
