---
layout: page-portfolio-project
title: "The Brixton Advice Centre"
short-name: brixton
client: "The Brixton Advice Centre"
site-url: "http://www.brixtonadvice.org.uk.php53-6.ord1-1.websitetestlink.com/"
site-url-text: "www.brixtonadvice.org.uk"
works: Site design &amp; build
copy: The Brixton Advice Centre provides free and confidential advice on legal, housing, and benefits issues to residents of the London borough of Lambeth.
---

{% include JB/setup %}
<div class="gallery">
	<figure>
		<img class="brixton-fp-desktop" src="{{ BASE_PATH }}/assets/img/brixton/brixton-fp-desktop.jpg">
		<figcaption>Front page masthead</figcaption>
	</figure>
		<figure>
		<img class="brixton-map-desktop" src="{{ BASE_PATH }}/assets/img/brixton/brixton-map-desktop.jpg">
		<figcaption>Location section</figcaption>
	</figure>
	<figure>
		<img class="brixton-info-desktop" src="{{ BASE_PATH }}/assets/img/brixton/brixton-info-desktop.jpg">
		<figcaption>Advice page</figcaption>
	</figure>
</div>
