<div class="row">
  <article class="eufn">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-10 col-offset-1">
          <aside class="col-12 col-md-4 col-lg-4 project-details">
            <h4 class="project-title">European Union Families Network</h4>
            <p>The European Union Families Network (Reseau Famillie de L'Union European) is a volunteer organisation setup and funded by the <a href="http://www.eeas.europa.eu/index_en.htm">EU External Action Service</a>. EUFN is tasked to provide support to the spouses of EU diplomats and staff as they take up residence at new diplomatic delegations or return to Brussels.</p>
            <p>Client: European Union Families Network</p>
            <p>Works: Site design &amp; build / logo design</p>
            <a href="www.eufn.eu"><p>www.eufn.eu</p></a>
          </aside>

          <div class="col-12 col-md-8 col-lg-8 main-content">
            <div class="gallery">
            	<figure>
            		<img class="eufn-logo" src="{{ BASE_PATH }}/assets/img/eufn/eufn-logo.png" width="50%">
            		<figcaption>EUFN logo</figcaption>
            	</figure>
            	<figure>
            		<img class="eufn-fp-desktop" src="{{ BASE_PATH }}/assets/img/eufn/eufn-fp-desktop.png">
            		<figcaption>Front page</figcaption>
            	</figure>
            	<figure>
            		<img class="eufn-security-desktop" src="{{ BASE_PATH }}/assets/img/eufn/eufn-security-desktop.png"></img>
            		<figcaption>Information page</figcaption>
            	</figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>