<div class="row">
  <article class="lancastrians">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-10 col-offset-1">
          <aside class="col-12 col-md-4 col-lg-4 project-details">
            <h4 class="project-title">The Association of Lancastrians in London</h4>
            <p>The Association of Lancastrians in London is a social club bringing together members from the <a href="http://www.duchyoflancaster.co.uk/">Duchy of Lancaster</a> for regular social events. The Association requested a new website and logo to both publise the organisations and to provide an easier way to communicate with it's membership.</p>
            <p>Client: The Association of Lancastrians in London</p>
            <p>Works: Site design &amp; build / logo design</p>
            <p><a href="www.lancastriansinlondon.org.uk">www.lancastriansinlondon.org.uk</a></p>
          </aside>

          <div class="col-12 col-md-8 col-lg-8 main-content">
            <div class="gallery">
              <figure>
                <img class="lancastrian-crest" src="{{ BASE_PATH }}/assets/img/lancastrians/lancastrian-crest.png" width="50%">
                <figcaption>The Lancastrians in London crest</figcaption>
              </figure>
              <figure>
                <img class="lancastrian-fp-desktop" src="{{ BASE_PATH }}/assets/img/lancastrians/lancastrian-fp-desktop.jpg">
                <figcaption>Front page (desktop view)</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
