<div class="row">
  <article class="lancastrians">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-10 col-offset-1">
          <aside class="col-12 col-md-4 col-lg-4 project-details">
            <h4 class="project-title">Layla Moran (Oxford West &amp; Abingdon campaign)</h4>
            <p>Layla Moran is the Lib Dem parliamentary candidate for Oxford West &amp; Abingdon in the upcoming 2015 general election. As part of her selection process campaign for te local party I worked as part of her media team and the co-founders of <a href="http://www.ambrmedia.com">ambr media</a> was responsible for the design and build of the her website and overall branding.</p>
            <p>Client: Layla Moran</p>
            <p>Works: Site design &amp; build / logo design</p>
            <p><a href="www.laylamoran.com">www.laylamoran.com</a></p>
          </aside>

          <div class="col-12 col-md-8 col-lg-8 main-content">
            <div class="gallery">
              <figure>
                <img class="layla-fp-desktop" src="{{ BASE_PATH }}/assets/img/layla/layla-fp-desktop.jpg">
                <figcaption>Front page</figcaption>
              </figure>
              <figure>
                <img class="layla-article-desktop" src="{{ BASE_PATH }}/assets/img/layla/layla-article-desktop.jpg">
                <figcaption>Article example</figcaption>
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>
