// Opening section
section.opener
	.opener-content
		img.saladin-logo(ng-src='assets/images/saladin-logo-dark-with-diamond.svg', alt='Portfolio logo')
		h1.name Rob Easthope
		h3.title Front end developer
		.contact-details
			a.email(href='mailto:hello@robeasthope.com') hello@robeasthope.com
			br
			a.twitter(href='http://twitter.com/robeasthope.com') @robeasthope
