<div class="row">
	<article class="{{ page.short-name }}">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-10 col-lg-10 col-offset-1">
					<aside class="col-12 col-md-4 col-lg-4 project-details">
						<h4 class="project-title">{{ page.title }}</h4>
						{{ page.copy | markdownify  }}
						{% if page.client %}
							<p>Client: {{ page.client }}</p>
						{% endif %}
						{% if page.works  %}
							<p>Works: {{ page.works }}</p>
						{% endif %}
						{% if page.github-link  %}
							<p><a href"{{ page.github-link }}">Github repo</a></p>
						{% endif %}
						{% if page.site-url  %}
							<a href="{{ page.site-url-text }}"><p>{{ page.site-url-text }}</p></a>
						{% endif %}
					</aside>
				  <div class="col-12 col-md-8 col-lg-8 main-content">
				    {{ content | markdownify  }}
				  </div>
				</div>
			</div>
		</div>
	</article>
</div>