/*
cd c:\Apps\wamp\www\robeasthope.github.io
grunt watch
*/

@import "bootstrap/variables.less";
@import "bootstrap/variables-custom.less";
@import "bootstrap/mixins.less";
@import "bootstrap/responsive-utilities.less";
@import "bootstrap/utilities.less";
@import "retina/retina.less";
@import "bootstrap/grid.less";

/******************************************************************************
	Base
******************************************************************************/
// --- Structure ---

body {overflow-x: hidden;}

//Sticky Footer
html, body {height: 100%;}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -165px auto; /* the bottom margin is the negative value of the footer's height */
}

.push {  height: 165px; /* .push must be the same height as .footer */  }

footer {
  height: 165px; /* .push must be the same height as .footer */
}

// --- Typography ---

code {font-size: 1.4rem;}

small {font-size: 1.4rem;}

h1, .h1 { font-size: (@font-size-base * 3.25); }

.page-header {
	//margin-top: @line-height-base;
	text-transform: uppercase;
	text-align: center;
	border-bottom: none;
	margin-left: @font-size-base / 2;

	@media screen and (min-width: @screen-small) {
		text-align: left;
		margin-left: 0;
	}
}

/******************************************************************************
	Navigation
******************************************************************************/
.navbar-slide {
	opacity: 1;
}

.affix-top {
	// Structure
	float: right;
	clear: both;
	padding: 0;
	
	// Typography
	font-family: @headings-font-family;
	text-transform: uppercase;
	font-size: 2.6rem;

	// Background stripes
	margin-top: 10px;

	@media screen and (min-width: 450px) {
		font-size: 3.75rem;
	}

	@media screen and (min-width: 797px) {
		font-size: 5.75rem;
	}

	.navbar-brand {
		position: absolute;
		left: 10000000px;
	}

	.nav {
		

		li {
			width: auto !important;
			margin: 10px !important;
			a {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}
}

.affix {
	z-index: 999;
	top: 0;
	width: 100%;
	left: 0;
	.nav {
		li {width: 100px;
			a {
				font-size: @font-size-base;
				line-height: 1;
			}
		}
	}
}



.navbar {
	background-color: white;
	text-align: center;
	min-height: @navbar-height;

	.navbar-toggle {
		position: relative;
		top: 10px;
		right: 0;
		padding: 0;
		border: 0;
		&:hover, &:focus {
			background-color: transparent;
		}
	}

	.navbar-brand {
		display: block;
		height: 30px;
		width: 30px;
		.at2x('../img/branding/roundel-micro.png', 30px, 30px);
		background-repeat: no-repeat;
		background-position: center center;

		@media (min-width: 768px) {
			float: none;
			margin-top: 10px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.center-nav {
		text-align: center;
	}

	.nav {
		display: inline-block;
		float: none;
		> li {
			width: 100px;
			&:hover {
				background-color: white;
			}
		}
	}

	@media screen and (min-width: 768px) {
		.nav {
			> li a {
				&:hover {
					background-color: white;
				}
			}
		}
	}
}


/******************************************************************************
	Masthead
******************************************************************************/
.jumbotron {
	// Layout
	margin-top: 15px;
	margin-bottom: 0px;
	width: 100%;

	// Background
	background-repeat: no-repeat;
	background-position: left top;
	background-size: cover;

	//Border
	border-bottom: 3px solid @gray-dark;

	// Portrait
	@media (orientation: portrait) {
		background-image: url('../img/branding/The-Kanawaga-Wave-portrait.png');
		
	}

	@media all (orientation: portrait) and (-webkit-min-device-pixel-ratio : 1.5) {
		background-image: url('../img/branding/The-Kanawaga-Wave-portrait@2x.png');
	} 

	// Landscape
	@media (orientation: landscape) {
		.at2x('../img/branding/The-Kanawaga-Wave-landscape-1600.png', 100%);
	}

	@media all (orientation: landscape) and (-webkit-min-device-pixel-ratio : 1.5) {
		background-image: url('../img/branding/The-Kanawaga-Wave-landscape-1600@2x.png');
	}
	

/******************************************************************************
	Masthead content
******************************************************************************/

	.brand {
		display: inline-block;
		float: right;
		height: 72px;
		width: 72px;
		margin-right: 10px;
		margin-bottom: 10px;

		.at2x('../img/branding/roundel.png', 72px, 72px);
		background-repeat: no-repeat;
		background-position: right top;
	}

	.jumbotron-title-wrap {

	}

	h1 {
		//Structure
		float: right;
		clear: both; 
		margin-top: 0;
		margin-bottom: 0;
		
		// Typography
		font-family: @headings-font-family;
		font-size: 2.6rem;
		font-weight: normal;
		text-transform: uppercase;
		line-height: 1;
		text-align: right;
		color: white;

		// Bkg Stripes
		background-color: @jbt-heading-bkg;
		padding-left: 10px;
		padding-bottom: 5px;
		padding-right: 10px;
		
		&:first-of-type {
			padding-top: 5px;
		}

		@media screen and (min-width: 450px) {
			font-size: 3.75rem;
		}

		@media screen and (min-width: 797px) {
			font-size: 5.75rem;
		}
	}

	@media screen and (min-width: @screen-tablet) {
	  .jumbotron {

	    h1 {
	      //font-size: (@font-size-base * 4.5);
	    }
	  }
	}
/******************************************************************************
	Masthead Navigation
******************************************************************************/

	.jumbotron-nav {
		float: right;
		clear: both;
		padding-top: 5px;

		.nav-pills > li {
			background-color: white;
			> a {
				color: @text-color;
				&:hover, &:focus {
					background-color: white;
				}
			}
		}
	}
}


/******************************************************************************
	Social icons
******************************************************************************/
.social-icons-wrap {
	text-align: center;

}

.social-icon {
	display: inline-block;
	margin-left: 16px;
	margin-right: 16px;
	width: 50px;
	height: 50px;
	background-size: 50px 50px;
}

.twitter-icon {
	.social-icon();
	.at2x('../img/social/twitter-colour.png', 64px, 64px);
}

.github-icon {
	.social-icon();
	.at2x('../img/social/github-colour.png', 64px, 64px);
}

.behance-icon {
	.social-icon();
	.at2x('../img/social/behance-colour.png', 64px, 64px);
}

/******************************************************************************
	Content
******************************************************************************/
.content {
	//margin-top: @navbar-height;
}

/******************************************************************************
	Portfolio
******************************************************************************/
.portfolio {

}

.thumbnails {
	margin-top: 100px;
	margin-bottom: 100px;
	padding-left: 15px;
	padding-right: 15px;
	.col {
		padding-left: 0;
		padding-right: 0;
	}

	.col-lg-3 {
		@media (min-width: 768px) and (max-width: 992px) {
			//width: 33.33333333333333%;
		}
	}

	.thumbnail {
		width: 100%;
		min-height: 150px;
		padding: 0px;

		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		display: table;
		border-radius: 0;
		border: none;

		&:hover, &:focus {
			//background-size: 350px 290px;
			.thumbnail-text-wrap {
				opacity: 1;
			}
		}

		.thumbnail-rollover {
			display: table;
			height: 100%;
			width: 100%
		}

		.thumbnail-text-wrap {
			display: table-cell;
			vertical-align: middle;
			padding-left: 10%;
			padding-right: 10%;
			opacity: 0;

			.portfolio-title {
				font-family: @font-family-sans-serif;
				font-size: @font-size-base;
				line-height: 1.1;
				font-weight: normal;
		  		text-align: center;
		  		margin-top: 0;
				margin-bottom: 0;
				text-transform: uppercase;
			}

			.portfolio-sub {
				margin: 0;
				font-family: @font-family-sans-serif;
				font-size: @font-size-base;
				line-height: @line-height-base;
				font-weight: normal;
		  		text-align: center;
		  		display: none;
		  		@media screen and (min-width: @screen-tablet) {
		  			display: block;
		  		}
			}
		}
	}

	.ambr {
		background-image: url('../img/ambr/ambr-thumbnail.png');

		&:hover, &:focus {
			.thumbnail-rollover {
				background: rgba(255, 255, 255, 0.90);
			}
		}
	}

	.brixton {
		background-image: url('../img/brixton/brixton-thumbnail.jpg');
		
		&:hover, &:focus {
			.thumbnail-rollover {
				background: rgba(192, 12, 0, 0.90);
				color: white;
			}
		}
	}

	.eufn {
		background-image: url('../img/eufn/EUFN-thumbnail.png');

		&:hover, &:focus {
			.thumbnail-rollover {
				background: rgba(255, 255, 255, 0.90);
				//color: white;
			}
		}
	}

	.lambeth {
		background-image: url('../img/lambeth/lambeth-thumbnail.jpg');

		&:hover, &:focus {
			.thumbnail-rollover {
				background: rgba(0, 161, 66, 0.90);
				color: white;
			}
		}
	}

	.lancastrians {
		background-image: url('../img/lancastrians/lancastrians-thumbnail.jpg');

		&:hover, &:focus {
			.thumbnail-rollover {
				background: rgba(255, 255, 255, 0.75);
			}
		}
	}

	.layla {
		background-image: url('../img/layla/layla-thumbnail.png');

		&:hover, &:focus {
			.thumbnail-rollover {
				background: rgba(253, 187, 48, 0.9);
				color: white;
			}
		}
	}

	.saffron {
		background-image: url('../img/saffron/saffron-thumbnail.png');

		&:hover, &:focus {
			.thumbnail-rollover {
				background: rgba(255, 255, 255, 0.90);
				//color: white;
			}
		}
	}

	.swimlondon {
		background-image: url('../img/swimlondon/swimlondon-thumbnail.jpg');

		&:hover, &:focus {
			.thumbnail-rollover {
				background: rgba(255, 255, 255, 0.90);
			}
		}
	}
	
	.waterleaf {
		background-image: url('../img/waterleaf/waterleaf-thumbnail.png');

		&:hover, &:focus {
			.thumbnail-rollover {
				background: rgba(255, 255, 255, 0.90);
			}
		}
	}
}


/******************************************************************************
	Footer
******************************************************************************/

footer {
	text-align: center;
	.row {
		padding-top: 9rem; // =@line-height-base * 3
		padding-bottom: 2.5rem;
	}
	

	p {margin-top: @line-height-base}
}