body {
  // margin: 0;
}
// Allow opening section to be full height
body, html, .main-content-view {
  height: 100%;
}

.opener {
  // Full height opener
  height: 100%;

  background-color: $teal;
  
  .saladin-logo {
    width: 75px;
    height: 75px;
  }

  .name {
    color: white;
  }

  .title {
    color: white;
  }
}
