// Opening section
header.row.project-header.arup-header
	.small-12.columns.height-fix
		.project-header-copy
			h1.project-title Arup
			br
			.client
				| Client: 
				a(href='http://www.arup.com') Arup
				|  | Agency: 
				a(href='http://www.think.eu') TH_NK
			br
			.project-link
				a(href='http://arup-prototype-demo.s3-website-us-east-1.amazonaws.com/') Presentation demo
				
section
	.row
		.small-12.columns
			.project-intro
				h2.section-title The back story
				p
					| Arup was a pitch prototype for the redesign of 
					a(href='http://www.arup.com') arup.com
					| . Making extensive use subtle animation to set itself apart apart from the competition and combined with an ambitious backend, TH_NK ultimately successfully won the pitch.
					
section
	.row
		ul.small-block-grid-1.media
			li
				figure(style='max-width: 900px; margin: 0 auto;')
					img(ng-src='assets/images/projects/arup/arup-jumbotron@2x.jpg')
					figcaption
					
section
	.row
		.small-12.columns
			.text-wrap
				h2.section-title Technical details
				ul
					li
						| Animation scrolling handled by 
						a(href='http://scrollmagic.io/') ScrollMagic.js
					li
						a(href='http://greensock.com/gsap') Greensock GSAP animations
					li
						a(href='http://kenwheeler.github.io/slick/') Slick carousel
					li
						a(href='https://gulpjs.com/') Gulp.js front-end tooling
