// Opening section
header.row.project-header.sony-wheel-header
	.small-12.columns.height-fix
		.project-header-copy
			h1.project-title Sony Wheel
			br
			.client
				| Client: 
				a(href='http://www.sonymobile.com/gb') Sony Mobile
				|  | Agency: 
				a(href='http://www.haygarth.co.uk') Haygarth
				
section
	.row
		.small-12.columns
			.project-intro
				h2.section-title The back story
				p
					| The Sony Wheel of Fitness was the centerpiece of Haygarth’s 90 day experiential tour to promote the 2015 UK launch of the Sony Xperia Z3.
				p
					| Completed with a very short turn around of six weeks the Sony Wheel was sent on further two nationwide tours visiting London, Birmingham, Newcastle and Tough Mudder events.
			.media
				.flex-video.widescreen.vimeo
					iframe(src='https://player.vimeo.com/video/119964895?title=0&byline=0&portrait=0', width='500', height='281', frameborder='0', webkitallowfullscreen='', mozallowfullscreen='', allowfullscreen='')
					
section
	.row
		.small-12.columns
			.text-wrap
				h2.section-title UIX planning
				p
					| The concept of the Sony was a simple one - walk on the wheel and after a certain speed a short promotional video would play. I conducted the initial technical research and planned out the user experience journey throughout the project.
			ul.small-block-grid-1.media
				li
					figure.caption-wrap
						img(ng-src='assets/images/projects/sony-wheel/sony-wheel-uix-with-states.jpg')
						figcaption The final user journey
						
section
	.row
		.small-12.columns
			.text-wrap
				h2.section-title Build
				p
					| Working in tandem with a Senior Creative Developer and developers at Asylum FX working on the hardware side, I built the front end elements of the Sony Wheel software.
	.row
		ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3.media
			li
				figure.caption-wrap
					img(ng-src='assets/images/projects/sony-wheel/asylum-build.jpg')
					figcaption Physical build
			li
				figure.caption-wrap
					img(ng-src='assets/images/projects/sony-wheel/wheel-installation.jpg')
					figcaption Installation
			li
				figure.caption-wrap
					img(ng-src='assets/images/projects/sony-wheel/wheel-screen-mockup.jpg')
					figcaption The screen
					
.footer-hack
