@import "../base-styles/base";

// Opening section
.opener {
  // Full height opener
  height: 100%;

  background-color: white;
  text-align: center;

  .opener-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .saladin-logo {
    width: rem(80);
    height: rem(80);

    // @media screen and (min-width: $medium-screen) {
      width: rem(80);
      height: rem(80);
    // }
  }

  .name {
    margin-top: 0;
    margin-bottom: 0;
  }

  .title {
    margin-top: 0;
    // margin-bottom: 1 * $h3-line;

    // @media screen and (min-width: $medium-screen) {
    //   margin-bottom: 1 * $h3-line-large;
    // }
  }
}

.portfolio {
  // @include outer-container;
  margin-left: rem(10);
  margin-right: rem(10);

  ul {
    margin: 0 auto;

    li {
      @media (max-width: #{rem(400)}) {
        width: 100%;
      }
    }
  }

  .portfolio-card {
    line-height: 0;
    padding-bottom: 0;
    position: relative;
    height: 0;
    padding-bottom: 25%;
    background-size: cover;
    background-position: center center;

    @media (min-width: #{rem(400)}) {
      padding-bottom: 100%;
    }
  }

  .portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1002;
    // opacity: 0.5;
    // background-color: white;
  }

  .portfolio-link {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1003;
    color: $base-font-color;

    @media (min-width:#{$large-screen}) {
      &:hover {
        .portfolio-title {
          opacity: 1;
        }
      }
    }

  }

  .portfolio-title-wrap {
    @extend %vertically-centre;
    text-align: center;
  }

  .portfolio-title {
    display: inline-block;
    font-family: $sans-serif-font-family;
    margin: 0 rem(10);
    background-color: white;
    padding: em(3) em(6) em(5.2);

    @media (min-width:#{$large-screen}) {
      transition: opacity 0.4s;
      opacity: 0;
    }

  }
}

.contact {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}
