@import "../primary-styles/base";



// Opening section
.opener {
  // Full height opener
  height: 100%;

  background-color: $white;
  text-align: center;

  .opener-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .saladin-logo {
    width: $h1-line-height * 2;
    height: $h1-line-height * 2;

    @media screen and (min-width: $medium-screen) {
      width: $h1-line-height-large * 2;
      height: $h1-line-height-large * 2;
    }
  }

  .name {
    margin-top: 0;
    margin-bottom: 0;
  }

  .title {
    margin-top: 0;
    margin-bottom: 1 * $h3-line;

    @media screen and (min-width: $medium-screen) {
      margin-bottom: 1 * $h3-line-large;
    }
  }
}

.portfolio {
  @include outer-container;
  margin-left: rem(10);
  margin-right: rem(10);

  ul {
    // @include span-columns(12);
  }
  .project-card {
    @include span-columns(6);
    @include omega(4n);
    // display: inline-block;
    // margin-right: 0;
  }

  .project-title {
    text-align: center;
  }
}

.contact {
  text-align: center;
}

.section-title {
  text-align: center;
}
