// Opening section
.opener {
  // Full height opener
  height: 100%;

  background-color: white;
  text-align: center;

  .opener-content {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .saladin-logo {
    width: rem(80);
    height: rem(80);

    // @media screen and (min-width: $medium-screen) {
      width: rem(80);
      height: rem(80);
    // }
  }

  .name {
    margin-top: 0;
    margin-bottom: 0;
  }

  .title {
    margin-top: 0;
    // margin-bottom: 1 * $h3-line;

    // @media screen and (min-width: $medium-screen) {
    //   margin-bottom: 1 * $h3-line-large;
    // }
  }
}

.portfolio {
  // @include outer-container;
  margin-left: rem(10);
  margin-right: rem(10);

  ul {
    max-width: 50em;
    margin: 0 auto;
  }
  .project-card {
    // @include span-columns(6);
    // @include omega(4n);
    // display: inline-block;
    // margin-right: 0;
  }

  .project-title {
    text-align: center;
  }
}

.contact {
  margin-top: 4rem;
  margin-bottom: 4rem;
  text-align: center;
}
