// Opening section
header.row.project-header.eufn-header
	.small-12.columns.height-fix
		.project-header-copy
			h1.project-title EUFN
			br
			.client
				| Client: 
				a(href='http://eufn.eu') Reseau Familiale de L'Union Europeene
				
section
	.row
		.small-12.columns
			.project-intro
				h2.section-title The back story
				p
					| EUFN is a European Union funded organisation providing advice and support to EU diplomatic personnel and their families while working overseas or in Brussels.
					
section
	.row
		.small-12.columns
			.text-wrap
				h2.section-title The EUFN site
				p
					| The brief was to build to provide full-stack development services to build a Wordpress site with a membership system, private content for members, and Paypal billing integration.
	ul.small-block-grid-1.medium-block-grid-2.media
		li
			figure.caption-wrap
				img(ng-src='assets/images/projects/eufn/eufn-fp-desktop@2x.png')
				figcaption
					| Landing page
		li
			figure.caption-wrap
				img(ng-src='assets/images/projects/eufn/eufn-security-desktop@2x.png')
				figcaption
					| Security page
					
section
	.row
		.small-12.columns
			.text-wrap
				h2.section-title EUFN logo
				p
					| I also designed English and French language logos to match the two working languages of the EU.
	ul.small-block-grid-1.medium-block-grid-2.media
		li
			img(ng-src='assets/images/projects/eufn/eufn-logo-en.png')
		li
			img(ng-src='assets/images/projects/eufn/eufn-logo-fr.png')
	.row
		.small-12.medium-6.medium-centered.large-4.large-centered.columns
			.caption English & French language logos
